.App {
  min-height: 100vh;
}
  .App-header {
    background-color: #282c34;
  }



  .App-main {
    background-color: #c34;
  }
    .post {
      background-color: #134;
      color: aliceblue;
    }






  .App-footer {
    background-color: #282;
  }