.App {
  min-height: 100vh;
  background-color: #242631;
  color: aliceblue;
}
  .App-header {
    text-align: center;
  }
    .App-header span {
      display: inline-block;
      padding: 50px 0;
      font-size: 4rem;
      font-weight: lighter;
    }

  .App-main {
    margin-top: 80px;
    display: grid;
    grid-template: auto / repeat(3, auto);
    column-gap: 20px;
    justify-content: center;
  }
    .post {
      
      display: grid;
      grid-template: 40px auto 1fr / minmax(320px, 420px);
    }
      .like-area {
        margin: 0 15px;
        border-start-start-radius: 5px;
        border-start-end-radius: 5px;
        background-image: linear-gradient(to right, #543bd7, #9e54d8);
        
        display: flex;
        flex-flow: row-reverse;
      }
        .like-post {
          margin-right: 15px;
          align-self: center;
          font-size: .7rem;
          color: yellow;
        }
        .like-button {
          border: none;
          background-color: unset;
          font-size: .8rem;
          cursor: pointer;
        }

      .questions {
        margin: 0 15px;
        padding: 0 15px 30px;
        background-image: linear-gradient(to right, #543bd7, #9e54d8);
        font-style: italic;
        /* font-weight: lighter; */
        font-size: 18px;
      }
      .answers {
        align-self: start;
        padding: 10px 30px;
        border-radius: 5px;
        background-color: white;
      }
        .show-answers {
          display: block;
          margin: auto;
          padding: 0;
          border: none;
          background-color: unset;
          font-size: 1rem;
          color: #543bd7;
          cursor: pointer;
          transition: .2s ease-out;
        }
        .down {
          transform: rotate(180deg);
        }
        .answer {
          font-weight: lighter;
          color: #000;
        }